/**
 * Inspiration for this project found at:
 * https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 */

.circle-chart {
  height: 210px;
    width: 210px;
    /* border: 5px solid #cf1f1f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 210px;
    margin: 0 auto; */
}

.circle-chart__circle {
  stroke: #ff4444;
  stroke-width: 1;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center;
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 */

/* .circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); 1, 2, 3
} */


.circle-chart__background {
  stroke: #909090a1;
  stroke-width: 1;
  fill: none; 
}


.circle-chart__percent {
  /* alignment-baseline: central; */
  text-anchor: middle;
  stroke-width: .3;
   stroke: #fff;
   font-family: 'Open Sans', sans-serif;
   font-size: 8px;
   
}

.circle-chart__subline {
    /* alignment-baseline: central; */
    text-anchor: middle;
    stroke-width: .3;
    stroke: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 4px;
    font-weight: 100;
}

.success-stroke {
  stroke: #F03030;
}

.warning-stroke {
  stroke: #F03030;
}

.danger-stroke {
  stroke: #F03030;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
